<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">Header</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home/news">Főoldal</a></li>
        <li routerLinkActive="active" *ngIf="isLoggedIn() && !isAdmin()"><a [routerLink]="['/new-reservation/vehicle']">Foglalás</a></li>
        <li routerLinkActive="active" *ngIf="isLoggedIn() && !isAdmin()"><a [routerLink]="['/actual-reservations']">Aktuális foglalások</a></li>
        <li routerLinkActive="active" *ngIf="isLoggedIn() && isAdmin()"><a [routerLink]="['/admin-reservations/list']">Foglalások</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  *ngIf="false" class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Felhasz <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a href="/profile">Profil</a></li>
            <li><a href="#">Foglalásaim</a></li>
            <li><a href="#">Kijelentkezés</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav navbar-btn navbar-right" >
        <button *ngIf="!isLoggedIn()" class="btn btn-default btn-primary" type="button" routerLink="/signin">Bejelentkezés</button>
        <button *ngIf="!isLoggedIn()" class="btn btn-default btn-primary" type="button" routerLink="/signup">Regisztáció</button>
      </div>
      <div class="nav navbar-btn navbar-right" >
        <button *ngIf="isLoggedIn()" class="btn btn-default btn-primary" type="button" (click)="logout()">Kijelentkezés</button>
      </div>
    </div>

</nav>
