<div>
  <app-reservation-filter [initFilter]="filter" (filtered)="setFilter($event)"></app-reservation-filter>
</div>
<div>
  <div>
    <div class="list-group">
      <ng-container *ngFor="let res of reservations; let i = index">
        <app-reservation-item
          *ngIf="(filter.status === 'All' || filter.status === reservationStatus(res)) &&
        res.plateNumber.toUpperCase().includes(filter.plateNumber.toUpperCase()) &&
        res.vehicleType.toUpperCase().includes(filter.type.toUpperCase())"
          [reservation]="res"
          (selected)="onSelect($event)">
        </app-reservation-item>
      </ng-container>
    </div>
  </div>
</div>

