
<div *ngIf="reservation !== undefined">
  <h3>Részletek ({{reservation.plateNumber}})</h3>
  <div>
    <h4>Feladatok</h4>
      <ul class="list-group">
        <li *ngFor="let work of reservation.works; let i = index" class="list-group-item">
          {{i+1}}.  {{work.work}}
        </li>
      </ul>
  </div>
  <br>
  <div>
    <h4>Időpontok</h4>
    <div *ngFor="let app of reservation.appointments">
      {{app.day | date: 'yyyy/MM/dd'}},
      idő: {{app.time}} óra,
      Állapot:
      <div *ngIf="app.state === 'Accepted'; else pending">
        Elfogadva
      </div>
      <ng-template #pending>
        Függőben
      </ng-template>
    </div>
  </div>
  <br>
  <div>
    <h4>Megjegyzések</h4>
    <p *ngFor="let comm of reservation.comments"> {{comm.comment}}</p>
    <!--<ul class="list-group row">
      <li *ngFor="let comm of reservation.comments" class="list-group-itme">
        {{comm.comment}}
      </li>
    </ul>-->
  </div>
</div>
