<h3>Részletek:</h3>
<div *ngIf="reservation !== undefined" class="container">
  <div>
    <h4>Jármű adatai:</h4>
    <br>
    <div class="input-group">
      <h5>Típus</h5>
      <p>{{reservation.vehicleType}}</p>
    </div>
    <br>
    <div class="input-group">
      <h5>Rendszám</h5>
      <p>{{reservation.plateNumber}}</p>
    </div>
    <br>
    <div class="input-group">
      <h5>Alvázszám</h5>
      <p>{{reservation.vin}}</p>
    </div>
  </div>

  <div>
    <h4>Feladatok:</h4>
    <div>
      <ul class="list-group row">
        <li *ngFor="let work of reservation.works; let i = index" class="list-group-item col-md-8">
          {{i+1}}.  {{work.work}}
        </li>
      </ul>
    </div>
  </div>


  <hr>


  <br>
  <div>
    <ul class="list-group row">
      <li *ngFor="let app of reservation.appointments" class="list-group-itme">
        {{app.day}}
        {{app.time}}
        {{app.type}}
        {{app.state}}
      </li>
    </ul>
  </div>


  <hr>

  <div>
    <ul class="list-group row">
      <li *ngFor="let comm of reservation.comments" class="list-group-itme">
        {{comm.comment}}
      </li>
    </ul>
  </div>
  <hr>
</div>
