  <div class="datepicker-container" >
    <ng-datepicker [(ngModel)]="date" [options]="options" (ngModelChange)="dateOnChange()"></ng-datepicker>
  </div>
  <br>
  <hr>
  <br>
  <div class="table-responsive">
    <table class="table">
        <tr class="table table-bordered tab">
          <th *ngFor="let c of timeTable; let i = index" > {{c.time}}</th>
        </tr>
        <tr class="table">
          <td *ngFor="let cell of timeTable; let j = index"
              ngClass="{{cell.status === 'Selected' ? 'info ' : (cell.status === 'Reserved' ? 'danger' : 'success')}}"
              [ngSwitch]='cell.status'
              (click)="onCellSelected(j)">
              <p *ngSwitchCase="'Selected'" style="cursor: pointer">Kivál.</p>
              <p *ngSwitchCase="'Empty'" style="cursor: pointer">Szabad</p>
              <p *ngSwitchDefault style="cursor: not-allowed">Foglalt</p>
          </td>
        </tr>
    </table>
  </div>
  <br>
  <hr>
  <br>
  <div>
    <div class="md-form">
      <textarea type="text" [(ngModel)]="comment" class="md-textarea form-control"></textarea>
    </div>
  </div>
  <hr>
  <div class="text-right">
    <div class="btn-group">
      <button class="btn btn-default btn-lg" (click)="onBack()">Vissza</button>
      <button [disabled]="false" class="btn btn-primary btn-lg" (click)="onNext()">Tovább</button>

    </div>

  </div>

