<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h4>Jármű adatai:</h4>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Típus">
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Rendszám">
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Alvázszám">
      </div>
    </div>

    <div class="col-md-7">
      <h4>Feladatok:</h4>
      <div>
        <ul class="list-group row">
          <li class="list-group-item col-md-8">
            1. Tétel
          </li>
          <span class="col-md-4">
              <button class="btn btn-danger" type="button">Töröl</button>
          </span>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7 input-group">
      <input type="text" class="form-control" placeholder="Új feladat...">
      <span class="input-group-btn">
          <button class="btn btn-success" type="button">Hozzáad</button>
        </span>
    </div>
  </div>
  <hr>
  <div class="text-right">
    <button class="btn btn-primary btn-lg">Tovább</button>
  </div>
</div>



