<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h4>Jármű adatai:</h4>
      <br>
      <div class="input-group">
        <p>Típus</p>
        <input [(ngModel)]="vehicleType" type="text" class="form-control">
      </div>
      <br>
      <div class="input-group">
        <p>Rendszám</p>
        <input [(ngModel)]="plateNumber" type="text" class="form-control">
      </div>
      <br>
      <div class="input-group">
        <p>Alvázszám</p>
        <input [(ngModel)]="vin" type="text" class="form-control">
      </div>
      <br>
      <button  class="btn btn-success" type="button" (click) = "onSaveInf()">Mentés</button>
    </div>

    <div class="col-md-7">
      <h4>Feladatok:</h4>
      <div class="col-md-7 input-group">
        <input [(ngModel)]= "newWork" type="text" class="form-control" placeholder="Új feladat...">
        <span class="input-group-btn">
          <button  class="btn btn-success" type="button" (click) = "onNewWork()">Hozzáad</button>
        </span>
      </div>
      <br>
      <div class="col-md-7">
        <ul class="list-group">
          <li *ngFor="let work of works; let i = index" class="list-group-item row">
            <p class="col-md-10">{{i+1}}.  {{work.work}}</p>
            <span class="col-md-2">
              <button class="btn btn-danger" type="button" (click)="onRemoveWork(i)">Töröl</button>
          </span>
          </li>

        </ul>
      </div>
    </div>
  </div>
<!--  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7 input-group">
      <input [(ngModel)]= "newWork" type="text" class="form-control" placeholder="Új feladat...">
      <span class="input-group-btn">
          <button  class="btn btn-success" type="button" (click) = "onNewWork()">Hozzáad</button>
        </span>
    </div>
  </div>-->
  <hr>
  <div class="text-right">
    <button class="btn btn-primary btn-lg" (click)="onNext()" [disabled]="false">Tovább</button>
  </div>
</div>



