<div class="container">

  <div class="row">
    <div class="col-md-5">
      <h4>Jármű adatai:</h4>
      <br>
      <div class="input-group">
        <h5>Típus</h5>
        <p>{{resService.reservation.vehicleType}}</p>
      </div>
      <br>
      <div class="input-group">
        <h5>Rendszám</h5>
        <p>{{resService.reservation.plateNumber}}</p>
      </div>
      <br>
      <div class="input-group">
        <h5>Alvázszám</h5>
        <p>{{resService.reservation.vin}}</p>
      </div>
    </div>

    <div class="col-md-7">
      <h4>Feladatok:</h4>
      <div>
        <ul class="list-group row">
          <li *ngFor="let work of resService.reservation.works; let i = index" class="list-group-item col-md-8">
            {{i+1}}.  {{work.work}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>


  <br>

  <div class="table-responsive">
    <table class="table">
      <tr class="table table-bordered tab">
        <th *ngFor="let c of resService.timeTable; let i = index" > {{c.time}}</th>
      </tr>
      <tr class="table">
        <td *ngFor="let cell of resService.timeTable; let j = index"
            ngClass="{{cell.status === 'SELECTED' ? 'info ' : (cell.status === 'RESERVED' ? 'danger' : 'success')}}">
          {{cell.status}}
        </td>
      </tr>
    </table>
  </div>

  <hr>
  <div>
    <h4>Megjegyzés:</h4>
    <p *ngIf="resService.reservation.comments[0].comment !== undefined">
      {{this.comment}}
    </p>
  </div>
  <hr>

  <div class="text-right">
    <button class="btn btn-primary btn-lg" (click)="onConfirm()">Küldés</button>
  </div>

</div>
