<h3>Foglalások</h3>
<div>
  <div class="list-group">
    <a
      *ngFor="let res of reservations; let i = index"
      [ngClass]="{
      'accepted' : (isAcceptedByAdmin(res) && isAcceptedByUser(res)),
      'pending': (!isAcceptedByAdmin(res) && !isRejected(res)),
      'rejected': isRejected(res),
      'acceptable': (isAcceptedByAdmin(res) && !isAcceptedByUser(res) && !isRejected(res))
      }"
      class="list-group-item"
      (click)="onSelect(res.id)">
      <p>
        Típus: {{res.vehicleType}}
      </p>
      <p>
        Rendszám: {{res.plateNumber}}
      </p>
      <p>
        Alvázszám: {{res.vin}}
      </p>
      <p>
        Foglalás állapota: {{res.adminStatus}}
      </p>
    </a>
  </div>
</div>


